body{
  height: auto;
  width: auto;
}
#header{
  top: 0px;
  width: 100%;
  position : fixed;
  display : flex;
  flex-wrap : nowrap;
  justify-content : space-between;
  background-color: #14274E;
}
a{
  color : white;
}
a:hover{
  color: red;
}
#nav-bar{
  width: 50%;
  display : flex;
  justify-content : space-around;
  align-self: center;
}

h2{
  background-color : #394867;
  text-align: center;
  margin: auto;
}

#container{
  margin-top: 100px;
  display: grid;
  grid-row-gap: : 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px 500px;
  justify-items: center;
  grid-template-areas:
  "modeles form media"
  "item1 item2 item3";
}

@media (max-width: 1500px) {
  #container{
    grid-template-rows: 500px 500px 500px;
    grid-template-areas:
    "modeles form form"
    "media media media"
    "item1 item2 item3";
  }
}

#modeles{
  align-self: center;
  border-width: 10px;
  border-style: solid;
  border-color: white;
  grid-area: modeles;
  background-color : #9BA4B4;

}

#form{
  grid-area: form;
  text-align: center;
  height: fit-content;
  border: 1px solid #14274E;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

#media {
  border-width: 10px;
  border-style: solid;
  border-color: white;
  grid-area: media;
  background-color : #9BA4B4;
  align-self: center;
}

#video{
    align-self: center;
    justify-self : center ;
    margin-top: : 150px ;
    margin-bottom: : 150px ;
    height: 75%;
    width: 100%;
    }

h3{
  text-align: center;
  }

#product-1{
  grid-area: item1 ;
  background-color: #9BA4B4 ;
  align-self: center;
  border-width: 20px;
  border-style: solid;
  border-color: #D9D9D9;
}

#product-2{
  grid-area: item2 ;
  background-color: #9BA4B4 ;
  align-self: center;
  border-width: 20px;
  border-style: solid;
  border-color: #D9D9D9;
}

#product-3{
  grid-area: item3 ;
  background-color: #9BA4B4 ;
  align-self: center;
  border-width: 20px;
  border-style: solid;
  border-color: #D9D9D9;
}
footer{
  background-color: #D9D9D9;
  text-align: center;
}
.ref{
  color: black;
}
.ref:hover{
  color:red;
}
